

:root {
  --neutral-1: #fefbe9; /* #fefbe9 #f5edc6*/
  --neutral-2: #F9D88B;
  /*#f6c453;*/
  --neutral-3: #e1eedd; /*#e1eedd #B8D5AF*/
  --neutral-4: #B7D6AE;
  
  /*#F08B48; */
  /*--neutral-5: #f5edc6; */


  
  --accent-1: #f0a04b;
  /*--accent-2: #ED3163; */
  
  --dark-1: #183a1d; 

   /* #717568 #BDADEA */



  
}


body {
  background: var(--neutral-3) !important; /* overwriting bootstrap, maybe fix */
  
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color 0.15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
*/
/*
 * Extra utilities
 */




.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

@font-face {
  font-family: titleFont;
  src: url(/Fonts/RetroSignature.otf)

}

#title-div {
  background-color: var(--neutral-1);
}

th {
  color: var(--dark-1);
}

#title {
  font-family: titleFont;
  color: var(--dark-1);
  
}

#recipes-modal-icon {
  
  border-bottom-left-radius: 25px;
  position: absolute; 
  top:0;
  right: 0; 
  color: var(--neutral-3);
  background-color: var(--dark-1);
  transition: all 1s;
  
}

#recipes-modal-icon:hover { 
  background-color: transparent;
  color: black;
  border-width: 2px;
  border-color:var(--dark-1);
  
  

}


/*ICON TOOLTIP - TO DO !!!!! */ 

.tooltip {
  position: relative;
  display: inline-block;
   /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}



/* Delete??
.gradient-text {
  background-color: #f3ec78; 
  background-image: linear-gradient(60deg,var(--accent-2), var(--neutral-4) );
  
  -webkit-background-clip: text;
  background-clip:text;
  color:transparent;
}*/

.icon-navbar {
  background-color: var(--accent-1);
  flex-direction: column;
  
}
.navbar {
  flex-direction: column;
}
.navbar-expand-lg .navbar-nav {
  flex-direction: column !important;
}

.icon-navbar {
  width: 28%;
  position:sticky ;
  position: -webkit-sticky ;
  top: 10vh;
  float:right;
  max-width: 100px;
  margin-left:10px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: var(--dark-1) 
}


/* my own things */

#on-hover-recipe,
#on-hover-misc,
#on-hover-sort,
#on-hover-delete-checked,
#on-hover-delete-all {
  visibility: hidden;
}

#recipe-icon,
#misc-icon,
#sort-icon,
#delete-checked-icon,
#delete-all-icon {
  cursor: pointer;
  color:var(--dark-1);
  
  
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  80% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

#recipe-icon:hover,
#misc-icon:hover,
#sort-icon:hover,
#delete-checked-icon:hover,
#delete-all-icon:hover {
  animation: bounce 1s;
  
  
  
}

/*TODO: Figure out nice transition for this */
#recipe-icon:hover ~ #on-hover-recipe,
#misc-icon:hover ~ #on-hover-misc,
#sort-icon:hover ~ #on-hover-sort,
#delete-checked-icon:hover ~ #on-hover-delete-checked,
#delete-all-icon:hover ~ #on-hover-delete-all {
  visibility: visible;
}

/* TODO: Make sure this works for different size screens */
#footer {
  color: var(--neutral-3);
  background-color: var(--dark-1);
  
  width: 100%;
  height: 60px;
  line-height: 60px;
  position: fixed;
  bottom: 0;
  display: block;
  
}

/* Set default colour for dropdown selection*/
select:invalid,
select option[value=""] {
  color: #636c72;
}

  
  

select option:first-child{
  color: green;
}
/*Make table scroll*/
#table {
  overflow-x: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right:auto; 
  
}

/* center table on bigger screens
make it not altered because of icons*/
@media (min-width: 800px) {
  /*#table {
    padding-left: 100px;
  }*/
  #title-div {
    padding-right:100px !important;
  }
}

/*When you hover, text colour stays constant*/
.table-hover tbody tr.checked:hover td {
  color: #bbbdbf;
}

/*Checked item styling*/
tr.checked {
  background: #C6D5C1;
  color: #B9BFB7;
}

tr.checked > td:first-child {
  text-decoration: line-through;
}

#success-message {
  text-align: right;
  margin-top: 1em;
}

#success-add-misc {
  margin-top: 2em;
  float: right;
  text-align: center;
  width: 45%;
}
#success-add-recipe{

  
  text-align: center;
  
  
  
}
.hidden {
  visibility: hidden;
}
.invisible {
  display: none;
}

#misc-input {
  margin-top: 2em;
  margin-right: 1em;
  margin-left: 1em;
}

/*autocomplete */
.autocomplete {
  position: relative;
  display: inline-block;
}

#autocomplete-list {
  text-align: left;
  position: absolute;
  border: 1px solid rgb(197, 192, 192);
  list-style: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  /*...sketchy solution*/
  margin-left: 12px;
  margin-right: 12px;
  left: 0;
  right: 0;
  padding: 3px;
  height: 100px;
  overflow: hidden;
  overflow-y: scroll;
  /*cursor: pointer;*/
}
.newAutocompleteItem:hover {
  background-color: lightgray;
  cursor: pointer;
}
/*.autocomplete-list li:hover {
  background-color: #gray;
}*/
/*
#icons {
  position:sticky;
  
}
*/
/* FADE EFFECT 
.tab-content {
  animation: fadeEffect 1s; Fading effect takes 1 second 
}

/* Go from zero to full opacity 
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}*/

.tabtitle:hover {
  cursor: pointer;
  color: black; 
}

.tabtitle {
  color:gray;
}

.tabtitleactive {
  color:black; 
}

#ingredients-plus-icon {
  float: right;
  margin:5px;
  
}
#ingredients-plus-icon:hover{
  cursor: pointer;
}

.ingredients-input-row {
  margin: 5px; 
}


#recipe-list>li:hover { 
  cursor: pointer;

}
.trash-icon {
  margin-right: 50px;
  float:right; 
  
}

.checkbox { 
  /*margin-right:15px;*/
  text-align: left;
  top:5px; 
  list-style:none;
  
}

.checkbox-name { 
  margin-left:10px;
  
}

#commonPantryText { 
  text-align: left;
}

/* Colours.. important tag to override bootstrap */

.lightgreen {
  background-color: var(--neutral-3)!important;
}

.ivory {
  background-color:var(--neutral-1) !important;
}

.darkgreen {
  background-color: var(--dark-1)!important;
  color: var(--neutral-1)!important;
}

.orange {
  background-color: var(--accent-1) !important;
}
