.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color 0.15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

/* my own things */

#on-hover-recipe,
#on-hover-misc,
#on-hover-sort,
#on-hover-delete-checked,
#on-hover-delete-all {
  visibility: hidden;
}

#recipe-icon,
#misc-icon,
#sort-icon,
#delete-checked-icon,
#delete-all-icon {
  cursor: pointer;
}

/*TODO: Figure out nice transition for this */
#recipe-icon:hover ~ #on-hover-recipe,
#misc-icon:hover ~ #on-hover-misc,
#sort-icon:hover ~ #on-hover-sort,
#delete-checked-icon:hover ~ #on-hover-delete-checked,
#delete-all-icon:hover ~ #on-hover-delete-all {
  visibility: visible;
}

/* TODO: Make sure this works for different size screens */
#footer {
  background-color: #f1f1f1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  display: block;
}

/* Set default colour for dropdown selection*/
select:invalid,
select option[value=""] {
  color: #636c72;
}

  
  

select option:first-child{
  color: green;
}
/*Make table scroll*/
#table {
  overflow-x: auto;
}

/*When you hover, text colour stays constant*/
.table-hover tbody tr.checked:hover td {
  color: #bbbdbf;
}

/*Checked item styling*/
tr.checked {
  background: #e3e6e8;
  color: #bbbdbf;
}

tr.checked > td:first-child {
  text-decoration: line-through;
}

#success-message {
  text-align: right;
  margin-top: 1em;
}

#success-add-misc {
  margin-top: 2em;
  float: right;
  text-align: center;
  width: 45%;
}
#success-add-recipe{

  
  text-align: center;
  
  
  
}
.hidden {
  visibility: hidden;
}
.invisible {
  display: none;
}

#misc-input {
  margin-top: 2em;
  margin-right: 1em;
  margin-left: 1em;
}

/*autocomplete */
.autocomplete {
  position: relative;
  display: inline-block;
}

#autocomplete-list {
  text-align: left;
  position: absolute;
  border: 1px solid rgb(197, 192, 192);
  list-style: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  /*...sketchy solution*/
  margin-left: 12px;
  margin-right: 12px;
  left: 0;
  right: 0;
  padding: 3px;
  height: 100px;
  overflow: hidden;
  overflow-y: scroll;
  /*cursor: pointer;*/
}
.newAutocompleteItem:hover {
  background-color: lightgray;
  cursor: pointer;
}
/*.autocomplete-list li:hover {
  background-color: #gray;
}*/
/*
#icons {
  position:sticky;
  
}
*/
/* FADE EFFECT 
.tab-content {
  animation: fadeEffect 1s; Fading effect takes 1 second 
}

/* Go from zero to full opacity 
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}*/

.tabtitle:hover {
  cursor: pointer;
  color: black; 
}

.tabtitle {
  color:gray;
}

.tabtitleactive {
  color:black; 
}

#ingredients-plus-icon {
  float: right;
  margin:5px;
  
}
#ingredients-plus-icon:hover{
  cursor: pointer;
}

.ingredients-input-row {
  margin: 5px; 
}


#recipe-list>li:hover { 
  cursor: pointer;

}
.trash-icon {
  margin-right: 50px;
  float:right; 
  
}

.checkbox { 
  /*margin-right:15px;*/
  text-align: left;
  top:5px; 
  list-style:none;
  
}

.checkbox-name { 
  margin-left:10px;
  
}
